body{
	background-color: lightblue;
	text-align: center;

	
}
ul.a{
  list-style-type: square;
  list-style-position: inside;
  color: brown
}
ul.b{
  list-style-type: square;
  list-style-position: inside;
  color: purple
}
ul.c{
  list-style-type: square;
  list-style-position: inside;
  color: orange
}

a{
	color: green
}
.container{
	align-self: center;
  border-top: solid;
  border-bottom:  solid;
  border-right:  solid;
  border-left : solid;
  border-size : 20;
}
.back{
	background-image: url(download.jpeg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.sg-body .sg-page-title{
	color: yellow;
}
h1,h2{
	font-family: sans-serif;
	font-style: italic;
  padding: 10px 10px 10px 10px;
  color: white;
}
a:link {
  color: red;
}

a:visited {
  color: green;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}
table.bordered{
outline-style: solid;
outline-width: thick;
margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 5%;
}
table,th,td{
  border: 1px solid black;
  border-collapse: collapse;
}
td{
  text-align: center;
}
[class=bordered]{
  color: green;
  border-color: black;
  background-color: black;
}
[id=tit]{
  color: brown;
}
.hidden{
  display: none;
}
[id=overlap]{
  width: 400px;
  height: 400px;
  position: absolute;
 top: 0px;
 left: 40%;
 z-index: -1;
}