body{
	background-color: lightblue;
	text-align: center;

	
}
ul.a{
  list-style-type: square;
  list-style-position: inside;
  color: brown
}
ul.b{
  list-style-type: square;
  list-style-position: inside;
  color: purple
}
ul.c{
  list-style-type: square;
  list-style-position: inside;
  color: orange
}

a{
	color: green
}
.container{
	align-self: center;
  border-top: solid;
  border-bottom:  solid;
  border-right:  solid;
  border-left : solid;
  border-size : 20;
}
.back{
	background-image: url(download.jpeg);
	background-repeat: no-repeat;
	background-size: 100%;
}
img { 
  width: 180px;
  height: 180px;
  position: absolute;
  right:0;
  top:0;
  border-style: solid;
}
.sg-body .sg-page-title{
	color: yellow;
}
h1,h2{
	font-family: sans-serif;
	font-style: italic;
  padding: 10px 10px 10px 10px;
}
a:link {
  color: red;
}

a:visited {
  color: green;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}
table.bordered{
outline-style: solid;
outline-width: thick;
margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 5%;
}
table,th,td{
  border: 1px solid black;
  border-collapse: collapse;
}
td{
  text-align: center;
}

